<app-header [isUserLoggedIn]="true" ></app-header>
  <div class="container">
    <p-toast></p-toast>
    <form [formGroup]="productform" >
    <p-panel header="Product Form">
    <br>
    <span class="ui-float-label">
        <input formControlName="productId" [(ngModel)]="product.productId" pKeyFilter="num" id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">ProductId</label>
        <p-message severity="error" text="ProductId is required" *ngIf="!productform.controls['productId'].valid&&productform.controls['productId'].dirty" ></p-message>
    </span>
    
    <br>
    <span class="ui-float-label">
        <input formControlName="name" [(ngModel)]="product.name" pKeyFilter="alpha" id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Name</label>
        <p-message severity="error" text="Name is required" *ngIf="!productform.controls['name'].valid&&productform.controls['name'].dirty"></p-message>
    </span>

    <br>
    <span class="ui-float-label">
        <input formControlName="price" [(ngModel)]="product.price" pKeyFilter="num" id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Price</label>
        <p-message severity="error" text="Price is required" *ngIf="!productform.controls['price'].valid&&productform.controls['price'].dirty"></p-message>
    </span>

    <br>
    <div>
        <button value="submit" (click)= "create()" [disabled]="!productform.valid" icon="pi pi-file"  pButton type="button" label="Save" class="ui-button-raised ui-button-success"></button>
        <button value="submit" (click)="goBack()" icon="pi pi-arrow-left" pButton type="button" label="Back" class="ui-button-raised ui-button-primary"></button>
    </div>
    </p-panel>
    </form>
</div>
