<div class="container">
  <p-fieldset legend="Registration">

              <div class="row">
                <span class="ui-float-label">
                  <input pKeyFilter="alpha" id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">Name</label>
              </span>
              </div>
  
              <div class="row">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">Email</label>
              </span>
              </div>

              <div class="row">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">Address</label>
              </span>
              </div>

              <div class="row">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">City</label>
              </span>
              </div>

              <div class="row">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText> 
                  <label pKeyFilter="num" for="float-input">Phone</label>
              </span>
              </div>

              <div class="row">
                <span class="ui-float-label">
                  <input id="float-input" pPassword type="password" size="30" pInputText> 
                  <label for="float-input">Password</label>
              </span>
              </div>

              <div>
                  <button value="submit" pButton type="button" label="Registration" class="ui-button-raised ui-button-success"></button>    
              </div>

        </p-fieldset>
      </div>
